body {
	background: black;
}
* {
	border: 1px red;
	min-height: 10px;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 45px;
}
.postcard-header h1 {
	width: 345px;
	margin: 3px;
}
.postcard-body {
	display: flex;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: rgb(124, 117, 117);
	padding: 15px;
}
